<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <!--<th>Hozzávalók</th>-->
            <th>Leírás</th>
            <th>Funkció</th>
        </tr>   
    </thead>
    <tbody>
        {{#each foods}}
        <tr>
            <!--<td>ingredients</td>-->
            <td><span class="badge">{{numberOfMessages}}</span> {{description}}</td>
            <td>
                {{link-to "Megtekint" "foods.view" this class="btn btn-default btn-sm"}}
                {{link-to "Szerkeszt" "foods.edit" this class="btn btn-default btn-sm"}}
                <button {{action "deleteFood" this}} class="btn btn-default btn-sm">Törlés</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
